RobWork/xml-schemas/rwxml_workcell.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="pos_unit_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="mm"/>
	  <xs:enumeration value="cm"/>
      <xs:enumeration value="m"/>
	  <xs:enumeration value="inch"/>
    </xs:restriction>
  </xs:simpleType>  

  <xs:simpleType name="rot_unit_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rad"/>
      <xs:enumeration value="deg"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="unit_type">
  <xs:union memberTypes="pos_unit_type 
                         rot_unit_type" />
  </xs:simpleType>

  <xs:simpleType name="constants">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pi"/>
      <xs:enumeration value="-pi"/>
      <xs:enumeration value="2pi"/>
      <xs:enumeration value="-2pi"/>
      <xs:enumeration value="e"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="floats">
    <xs:union memberTypes="xs:double constants"/> 
  </xs:simpleType>

  <xs:simpleType name="array_type">  
    <xs:list itemType="floats"/>  
  </xs:simpleType>  

  <xs:simpleType name="array3_type">  
    <xs:restriction base="array_type">  
      <xs:length value="3"/>  
    </xs:restriction>  
  </xs:simpleType> 

  <xs:simpleType name="array4_type">  
	<xs:restriction base="array_type">  
	<xs:length value="4"/>  
	</xs:restriction>  
  </xs:simpleType> 

  <xs:simpleType name="array9_type">  
	<xs:restriction base="array_type">  
	<xs:length value="9"/>  
	</xs:restriction>  
  </xs:simpleType> 

  <xs:complexType name="vector3d_type">
    <xs:simpleContent>
      <xs:extension base="array3_type">
        <xs:attribute name="unit" type="unit_type" default="m"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="rpy_type">
    <xs:simpleContent>
      <xs:extension base="array3_type">
        <xs:attribute name="unit" type="rot_unit_type" default="deg"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="eaa_type">
    <xs:simpleContent>
      <xs:extension base="array3_type">
        <xs:attribute name="unit" type="rot_unit_type" default="rad"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="quaternion_type">
    <xs:simpleContent>
      <xs:extension base="array4_type">
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="rotation3d_type">
    <xs:simpleContent>
      <xs:extension base="array9_type">
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:group name="r3d_group"> 
    <xs:choice>
      <xs:element name="Rotation3D" type="rotation3d_type"/>
      <xs:element name="Quaternion" type="quaternion_type"/>
      <xs:element name="RPY" type="rpy_type"/>
      <xs:element name="EAA" type="eaa_type"/>
    </xs:choice>
  </xs:group>

  <xs:element name="Frame">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pos" type="vector3d_type" minOccurs="0"/>
	<xs:group ref="r3d_group" minOccurs="0"/>
	  <xs:element name="Drawable" minOccurs="0">
	    <xs:complexType>
	      <xs:sequence>
		<xs:element name="Pos" type="vector3d_type" minOccurs="0"/>
		<xs:group ref="r3d_group" minOccurs="0"/>
		<xs:element name="Polytope" minOccurs="0">
		  <xs:complexType>
		    <xs:simpleContent>
		      <xs:extension base="xs:string">
		        <xs:attribute type="xs:string" name="file"/>
		      </xs:extension>
		    </xs:simpleContent>
		  </xs:complexType>
		</xs:element>
	      </xs:sequence>
	      <xs:attribute type="xs:string" name="name"/>
	      <xs:attribute type="xs:string" name="refframe" use="optional"/>
	      <xs:attribute type="xs:string" name="colmodel" use="optional"/>
	    </xs:complexType>
	  </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="refframe" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Drawable">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pos" type="vector3d_type" minOccurs="0"/>
	<xs:group ref="r3d_group" minOccurs="0"/>
	<xs:element name="Polytope" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="file"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="refframe" use="optional"/>
      <xs:attribute type="xs:string" name="colmodel" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="SerialDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Frame" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="refframe" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Include">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="file"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkCell">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="Frame"/>
        <xs:element ref="SerialDevice"/>
        <xs:element ref="Drawable"/>
        <xs:element ref="Include"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
